@model Pool4You.Data.Umfrage
<h2>Umfrage Anzeigen</h2>
    <div>
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Beschreibung)
            </dd><br />
<br />

            @Html.DisplayFor(model => model.Frage)

            </dl>
    </div>

    <p>
        @Html.ActionLink("Zurück zur Übersicht beendeter Umfragen", "BeendeteUmfragen")
    </p>
